h1 {
    color: red;
   }
   
   body {
    color: red;
   }
   
   body  {
   background-color: black;
   }
   
   body  {
   font-style: italic;
   font-size: 40;
   font-weight: bold;
   }
   
   li  {
   color: red;
   font-style: italic;
   font-wight: bold;
   font-size: 20px;
   height: 20px;
   }
   
   title  {
   text-align: center;
   }
   
   a  {
   border: solid;
   border-color: blue;
   }